<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events</title>

    <link rel="stylesheet" href="../styles/events.css" />
    <link rel="stylesheet" href="../styles/vars.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="header">
        <div id= "events-header">DSA Events</div>
    </div>
    <div class="subtitle">
    <div id= "events-subtitle">Learn, grow, network, and 
        celebrate at our events!</div>
    </div>
    <div class="dataDiscContainer">
        <div class="dataContainer">
            <h1 class="sectionHeader">Data Discourse</h1>
            <div class="dataCard">
                <img class="mainImg" src="https://cdn.prod.website-files.com/6347409ef6f0d93ccbc4b0f7/66abb44f55dd06e7130525b1_Data%20Discourse-v6-1-Alt%20Version-01-p-800.png">
                <div class="textBody">
                    <p>
                        Ready to elevate your data science journey and forge powerful connections in San Diego? Dive into our dynamic event series where we explore all things data science, AI, and tech.
                    </p>
                    <p id="text-body-2">
                        Data Discourse is where data professionals and enthusiasts come together to learn and talk about the ethical implications of data science and AI trends. Whether you're a student wanting insight from industry experts or a working professional seeking a like-minded community, this is the place for you.
                    </p>
                    <p>
                        Happening the first Thursday and third Wednesday of every month
                    </p>
                    <button class="buttons" id="discourse-button" onclick="location.href=''">
                        data discourse registration
                    </button>
                </div>
            </div>
        </div>

    </div>
    <div class="upcomingEventsContainer">
        <div class="subContainer">
            <h1 class="sectionHeader">Upcoming Events</h1>
        </div>
    </div>
    <div class="pastEventsContainer">
        <div class="secondSubContainer">
            <h1 class="sectionHeader">Past Events</h1>
            <div class="grid">
            </div>
        </div>
    </div>

</body>
<script src="./events.js" text="javascript/text"></script>
<script src="./eventspast.js" text="javascript/text"></script>

</html>