/* ---- 320px width default template ----*/

body{
    background-color:var(--white);
    font-family:"Montserrat", san-serif;
}

#newsletter-header{
    font-family: "Barlow", sans-serif;
    font-size:36px;
    font-weight:700;
    line-height:43.2px;
    padding-bottom:18px;
    border-bottom:2px solid black;
    color:var(--darkblue);
    position:relative;
    width:fit-content;
    margin: 62px auto 0 auto;
}

#newsletter-subtitle {
    font-family: "Montserrat", sans-serif;
    font-weight:400;
    font-size:12px;
    line-height:14.63px;
    margin: 34px auto 55px auto;
    text-align:center;
    color:var(--darkpurple);
    position:relative;
    width:fit-content;
}

.cardContainer{
    display:grid;
    width:100%;
    max-width:292px;
    margin:0 auto;
}

.card{
    width:100%;
    max-width:292px;
    min-height:323px;
    margin-bottom:60px;
}
#card-img{
    width:100%;
    max-width:292px;
    height:165px;
    margin:0;
}

#card-header{
    margin: 19.5px 0 13px 0;
    font-weight:500;
    font-size:20px;
    line-height:normal;
    color:var(--lightnavy);
}

#card-body{
    padding:0;
    margin:0;
    color:var(--darkpurple);
    font-size:12px;
    line-height:normal;
    margin-bottom:11px;
    text-wrap:pretty;
}


@media only screen and (min-width:992px){
    .cardContainer{
        width:100%;
        max-width:926px;
        grid-template-columns:1fr 1fr;
        grid-row-gap:26px;
        grid-column-gap:48px;
        margin:0 auto;

    }
    .card{
        width:100%;
        max-width:439px;
        min-height:380px;
        margin-bottom:0;

    }
    #card-img{
        max-width:439px;
        height:248.5px;
        display:block;
    }
    #card-header{
        margin: 18.81px 0 19px 0;
    }

    #card-body{
        font-size:14px;
        margin-bottom:10px;
    }

    #newsletter-header{
        font-size:48px;
        line-height:normal;
        padding-bottom:16px;
        margin: 58px auto 0 auto;
    }
    
    #newsletter-subtitle {
        font-size:14px;
        line-height:normal;
        margin: 34px auto 55px auto;
    }
}


@media only screen and (min-width:1400px){
    .cardContainer{
        width:100%;
        max-width:1236px;
        grid-template-columns:1fr 1fr;
        grid-template-rows:486px;
        grid-row-gap:31px;
        grid-column-gap:64px;
        margin:0 auto;

    }
    .card{
        width:100%;
        max-width:586px;
        min-height:486px;
        margin-bottom:0;
    }
    #card-img{
        max-width:586px;
        height:332.189px;
    }
    #card-header{
        margin: 18.81px 0 19px 0;
    }

    #card-body{
        font-size:16px;
        margin-bottom:12px;
    }

    #newsletter-header{
        font-size:60px;
        line-height:72px;
        padding-bottom:20px;
        margin: 76px auto 0 auto;
    }
    
    #newsletter-subtitle {
        font-size:20px;
        line-height:24.38px;        
        margin: 55px auto 130px auto;
    }
}