:root{
    --darkblue: #192147;
    --lightnavy:#38499C;
    --cantelope:#E7AB49;
    --magneta:#B545B7;
    --white:#FBFBFB;
    --darkpurple:#242424;
    --lavender:#CCD0E6;
    --darknavy:#283470;
}